
<div class="navbar">
    
        <nav>
           
                <li><a href="/">Acceuil</a></li>
                <li><a href="/item/index">items</a></li>
           
                
            </ul>
        </nav>
</div>
            


