{% if user is defined %}
    <a href="/User/logout">deconnexion</a>
{% else %}
    <form method="post" action="/User/login">
        <h2>Accède à ton espace</h2>

        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input class="uk-input" type="text" name="mail" placeholder="Ton Mail" required><br>

            </div>
        </div>

        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                <input class="uk-input" type="password" name="pass" placeholder="Ton mot de passe" required><br>
            </div>
        </div>
        <p uk-margin>
            <input class="uk-button uk-button-default" type="submit" name="submit" value="Login" />

        </p>


    </form>

    <h2>Pas encore de compte ?</h2>
    <a href="/User/add">
        <input class="uk-button uk-button-default" type="submit" name="submit" value="s'inscrire"/>
    </a>
    <ul>
    {% if error is defined %}
        <li> {{ error }} </li>
    {% endif %}
    </ul>
{% endif %}