{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Ajouter un nouvel artiste</h1>
    {% include 'Artist/_form.html.twig' %}
    <div class="edit_button">
    <a class="shadowed-7" href="/artist/index">Back</a>
    </div>
{% endblock %}
