<footer><!-- mise en place du footer avec les mentions légales , le contact de Dev'Zone commune à chaque page-->
    <div class="contenaire_footer"> <!-- mise en place d'un div permettant de séparer les deux catégories du footer -->
        <div class="footer_logo_straszik"> <!-- mise en place d'un div pour insérer le logo straszik -->
            <img src="./assets/images/strasZik.png" alt="" width="130" style="margin-left: 50px;"/>
        </div>

        <div class="footer_left_side">
            <h6 class="uk-text-center"> StrasZik </h6>
            <p>Dans le cadre d'un projet avec la "Wild Code School" 2021 © l'agence "Dev'Zone" s'est fait appeler par  StrasZik © afin de mettre en valeur un groupe de musique local. Dev'Zone se doit de dévelloper ce site
                dans les meilleurs conditions de sécurisation.</p>

        </div>
        <div class="footer_right_side">
            <h6 class="uk-text-center"> Dev'Zone </h6>
            <p>Dev'Zone est une agence fictive basée sur le secteur de Strasbourg qui à pour but de créer un site web dynamique. Siret n°1254885445112. Tout droits réservés à la Wild Code School.
                <br>
                <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="linkedin"></a>
                <a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="facebook"></a>
                <a href="" class="uk-icon-button" uk-icon="youtube"></a>
        </div>

        <div class="footer_right_side">
            <form method="post" action="mailto:samuel.munsch@gmail.com">
                <fieldset class="uk-fieldset">

                    <legend class="uk-legend">Contactez-nous</legend>

                    <div class="uk-margin">
                        <input class="uk-input" type="text" placeholder="Nom">
                    </div>
                    <div class="uk-margin">
                        <input class="uk-input" type="text" placeholder="Prénom">
                    </div>
                    <div class="uk-margin">
                        <input class="uk-input" type="email" placeholder="Email Hopla">
                    </div>


                    <div class="uk-margin">
                        <textarea class="uk-textarea" rows="5" placeholder="Message"></textarea>
                    </div>
                    <input type="reset" value="reset">
                    <input type="submit" value="Envoyer" class="uk-button uk-button-default">
                </fieldset>
            </form>

        </div>

</footer>

<section>
    <div class="footer_footer">
        <h7>Développé avec Amour par FX, SAM,STAN et BASTIEN</h7>
    </div>
</section>
