/* 
    1. RESET
    2. GENERAL
    3. MENU
    4. CONTAINER
    5. FOOTER
    6. INFORMATIONS
    7. ANECDOTES
    8. FORMATIONS
    9. EXPERIENCES 
*/


/* ----------------
    1. RESET
---------------- */

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ----------------
    2. GENERAL
---------------- */

* {
    font-family: Poppins;
}

h1 {
    font-size: 52px;
    font-family: 'poppins';
    font-weight: 800;
    letter-spacing: 2px;
}

h2 {
    font-size: 23px;
    font-family: 'poppins';
    font-weight: 600;
}


/* ----------------
    3. MENU
---------------- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    margin-bottom: 15px;
    background: white;
}

nav ul {
    display: flex;
    align-items: center;
    margin: 0;
}

nav ul li {
    margin: 0 10px;
    list-style: none;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: -0.5px;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: #e4002b;
}

.logo {
    width: 50px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.logo:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.button {
    margin-right: 30px;
    padding: 10px 25px;
    background: #e4002b;
    box-shadow: 5px 5px black;
    color: white;
    text-decoration: none;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}

.button:hover {
    -webkit-animation-name: hvr-buzz;
    animation-name: hvr-buzz;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes hvr-buzz {
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}

@keyframes hvr-buzz {
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}


/* ----------------
    4. CONTAINER
---------------- */

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 250px 250px 250px;
    gap: 15px;
    margin: 0 15px;
}

.container a {
    text-decoration: none;
}

.container h2 {
    background: #e4002b;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 5px 5px black;
}

.container h2:hover {
    animation: pulse 0.8s infinite;
    animation-timing-function: linear;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.item-1,
.item-2,
.item-3,
.item-4,
.item-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e4002b;
    color: white;
}

.item-1 {
    background: url(./src/img/colonel.jpg);
    background-size: cover;
}

.item-3 {
    background: url(./src/img/item-3.jpg);
    background-size: cover;
    background-position: center;
}

.item-4 {
    background: url(./src/img/item-4.jpeg);
    background-position: center;
    background-size: cover;
}

.item-5 {
    grid-column: span 2;
    background: url(./src/img/item-5.jpeg);
    background-size: cover;
    background-position: center;
}

.signature {
    font-family: 'Dancing Script';
    font-weight: bold;
    font-size: 52px;
    transform: rotate(-5deg);
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}


/* ----------------
    5. FOOTER
---------------- */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    margin-top: 30px;
    background: #e4002b;
    color: white;
}

footer p {
    font-weight: 600;
}

footer span {
    font-family: 'Dancing Script';
    font-size: 21px;
}

.social a {
    color: white;
}

.social a i {
    margin-right: 5px;
}

.social a i:hover {
    color: black;
}


/* ----------------
    6. INFORMATIONS
---------------- */

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 230px;
    color: white;
    background: #e4002b;
}

.image {
    width: 100%;
    height: 500px;
    background: url('src/img/colonel-2.png');
    background-size: cover;
}

.text {
    display: flex;
    text-align: center;
}

.text-left {
    width: 100%;
}

.text-right {
    width: 100%;
}

.text-left i {
    color: #e4002b;
}

.text-right i {
    color: #e4002b;
}


/* ----------------
    7. ANECTODES
---------------- */

.split-1 {
    display: flex;
    height: 300px;
    margin: 30px;
    background-color: #e4002b;
}

.split-2 {
    display: flex;
    flex-direction: row-reverse;
    height: 300px;
    margin: 30px;
    background-color: #e4002b;
}

.split-3 {
    display: flex;
    height: 300px;
    margin: 30px;
    background-color: #e4002b;
}

.split-4 {
    display: flex;
    flex-direction: row-reverse;
    height: 300px;
    margin: 30px;
    background-color: #e4002b;
}

.split-5 {
    display: flex;
    height: 300px;
    margin: 30px;
    background-color: #e4002b;
}

.split-6 {
    display: flex;
    flex-direction: row-reverse;
    height: 300px;
    margin: 30px;
    background-color: #e4002b;
}

.text {
    width: 100%;
    padding: 50px 30px;
    text-align: center;
}

.text h1 {
    font-size: 30px;
}

.image1 {
    background: url("src/img/kfc-wwe.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
}

.image2 {
    background: url("src/img/kfc-wwe2.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
}

.image3 {
    background: url("src/img/kfc-wwe3.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
}

.image4 {
    background: url("src/img/kfc-wwe4.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
}

.image5 {
    background: url("src/img/kfc-wwe6.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    color: aliceblue;
}

.image6 {
    background: url("src/img/kfc-wwe5.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
}

.p {
    color: aliceblue;
}

.banner2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    margin: 30px 30px 30px 30px;
    color: white;
    background: url("src/img/kfc-wwe7.jpg");
    background-size: cover;
    background-position: center;
}


/* -------------
    8.FORMATIONS
------------- */

.bannersam img {
    width: 60%;
    height: auto;
}

.bannersam {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background: #e4002b;
    color: white;
    margin: 10px 10px;
}

.entete {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    text-align: center;
    color: white;
}

.bloc_diplomes,
.bloc_formations {
    background-image: url("./src/img/kfc-bordeaux.jpeg");
    height: 250px;
    background-size: cover;
    margin: 10px;
}

.bloc_diplomes {
    background-image: url("./src/img/kfc-bordeaux.jpeg");
}

.bloc_formations {
    background-image: url("./src/img/kfc-soissons.jpeg");
}

.conteneur_bas {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contenu_gauche,
.contenu_droit {
    background-color: #e4002b;
    margin: 10px 10px;
    color: white;
}

.contenu_gauche,
.contenu_droit ul {
    font-weight: 600;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .entete {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .bannersam {
        order: -1;
    }
    .conteneur_bas {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .contenu_gauche,
    .contenu_droit ul {
        font-weight: 400;
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {
    p {
        font-size: 8px;
    }
    .container {
        grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
    }
    nav ul li {
        font-size: 9px;
    }
    nav {
        margin: 0;
    }
}


/* ----------------
    9. EXPERIENCES
---------------- */

.xpProfesionnel {
    background-color: #816B6D;
    padding: 1%;
    margin: 1%;
}

ul li {
    margin: 2% 0;
    padding: 0 1%;
    list-style: none;
}

.proExperiences {
    display: flex;
}

.grosBloc1 {
    display: flex;
    justify-content: space-around;
    margin: 5% 0;
}

.wagon {
    padding: 0 0;
    margin: 0px 50px;
}

.second {
    display: flex;
    justify-content: center;
    margin: 5% 4%;
    padding: 10px;
}

.sanders {
    width: 30%;
    margin: 0 10px;
    border: solid gray;
    margin-left: 20%;
}

.final {
    background-color: rgb(122, 71, 71);
    display: flex;
    justify-content: center;
    margin: 2% 0;
    padding: 2%;
}

#fim {
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#transition {
    margin-left: 0 80%;
    padding-left: 30%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#reussite {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#debut {
    margin-left: 0;
    padding-bottom: 50%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.parent {
    background-color: #f5eded;
}